<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <link rel="shortcut icon" href="/images/c2e9b3f12e938b446133cad1c0e98f5f.jpg" type="image/jpg">
    <title>instadownloader</title>
  </head>
  <body>
    <div id="main">
      <div class="logo">
        <h2>INSTADOWNLOADER</h2>
        <p>Download Instagram Videos, Photos, Reels, IGTV & carousel</p>
      </div>
      <div class="search">
        <form id="data" method="get" action="/info">
          <input
            type="url"
            name="url"
            id="insta"
            value=""
            placeholder="ENTER YOUR URL.."
          />
          <button type="submit" id="send">Download</button>
        </form>
      </div>
      <div class="show"></div>
    </div>
    <div id="about">
      <div class="uses">
        <div class="vid">
        </div>
        <div class="text">
          <p>
            It is an online web tool that helps you download Instagram
            Videos, Photos, Reels, and IGTV. It is designed to be easy to
            use on any device, such as a mobile phone, tablet, or computer.
          </p>
        </div>
      </div>
    </div>
  </body>
</html>
